* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header styling */
.header {
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.header__info-links {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #1d1d1b;
    color: #bbbbbb;
    font-size: 0.75rem;
    padding: 0.7rem 10rem 0.7rem 7rem;
}

.header__info-links a {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

.header__info-links a:hover {
    color: white;
    border-bottom: 1px solid #f1f1f1;
}

.header__information h3 {
    display: inline-block; 
}

.header__information h3,
.header__links a {
    margin: 0 0.5rem;
}
/* header styling end*/

/* navigation styling*/
.navigation a {
    text-decoration: none;
    color: black;
}

.navigation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    height: 15vh;
    font-size: 1rem;
}

.navigation__links li {
    text-transform: uppercase;
    margin: 0 1rem;
}

.navigation__links a:hover {
    border-bottom: 1px solid #1d1d1b;
}

.logo-item {
    text-align: center;
}

.logo-link {
    padding: 1.7rem 7rem;
    margin: 0 4rem;
    border: 1px solid black;
    background-color: #cececa;
}
/* navigation styling end*/

/* main styling*/
.product {
    display: flex;
}

.product__carousel {
    position: relative;
    margin: 0 auto;
}

.product__carousel-item {
    display: flex;
    overflow: hidden;
    max-width: 55vw;
    max-height: 900px;
}

.product-image {
    display: flex;
    min-width: 100%;
    z-index: -1;
}

.product-image div {
    width: 100%;
    object-fit: cover;
}

.carousel-item-dot.selected {
    background-color: white;
}

.carousel-selectors {
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 55%;
    transform: translateX(-50%);
}

.carousel-item-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0.5rem;
    border-radius: 100%;
    background-color: #bbbbbb;
    display: inline-block;
}

.fa-check {
    color: lightgreen;
}

.fa-angle-down {
    font-size: 1.5rem;
    font-weight: 200;
}

.product__sale-information {
    flex-grow: 1;
}

.product__available {
    display: flex;
    justify-content: space-between;
}

.news {
    display: flex;
    align-items: center;
    border: 1px solid black;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 1rem;
    height: 30px;
    background: #1d1d1b;
    color: white;
    text-transform: uppercase;
}

.available {
    text-transform: uppercase;
    margin: 1rem 2rem;
    font-size: 0.8rem;
}

.product__sale-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;   
    border-bottom: 1px solid #bbbbbb;
}

.product__name {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem;
    max-width: 300px;
    word-wrap: break-word;
}

.product__price {
    font-size: 1.2rem;
    font-weight: 700;
}

.product__size-text {
    margin: 1rem 0 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.product__size {
    height: 25px;
    width: 25px;
    border: 1px solid #000000;
    background: #fff;
    cursor: pointer;
}

.product__size.selected {
    background: #1d1d1b;
    color: #fff;
}

.form__submit-button {
    display: block;
    margin: 1.5rem 0;
    background: #1d1d1b;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.article__number {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(185, 185, 185);
    margin-bottom: 1rem;
}

.article__number span {
    color: #000000;
    font-weight: 600;
}

.accordion {
    margin: 0 2rem;
}

.accordion__item {
    display: block;
    color: #ccc;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
}

.accordion__item p {
    font-size: 0.7rem;
}
.accordion__item.show {
    color: #1d1d1b;
}

.accordion__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__item-body {
    display: none;
}

.accordion__item-body.show {
    display: block;
    font-weight: 700;
    padding: 1rem 0 4rem;
}
/* main styling end*/

/* More products styling*/
.container {
   margin: 5rem 7rem;
}

.product__img-container {
    position: relative;
    width: 100%;
}

.product__img-container img {
    width: 100%; 
}

.more__products-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #1d1d1b;
    margin-bottom: 2rem;
}

.more__products-all{
    text-decoration: none;
    color: #1d1d1b;
}

.more__products-items {
    display: flex;
    justify-content: space-evenly;
}

.more__product-item {   
    text-align: center;
    font-size: 0.9rem;
}

.more__product-item-brand {
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
}

.more__product-item-desc {
    color: #666;
    width: 220px;
    margin: 0 auto;
    line-height: 1.25rem;
}

.special-item {
    position: absolute;
    top: 0;
    left: 0;
    color: #ebebec;
    text-transform: uppercase;
    padding: 0.25rem 0;
    letter-spacing: 1px;
    width: 6rem;
}

.more__product-item-price {
    font-weight: 700;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.old__price {
    text-decoration: line-through;
    font-weight: 400;
    margin-right: 0.5rem;
}

.new__price {
    color: crimson;
}

.new {
    background: #1d1d1d;
}

.campaign {
    background: #3b4053;
}

.more__product-item:not(:last-child) {
    margin-right: 1rem; 
}

/* Newsletter styling */
.newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("./Material/newsletter_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    margin: 2rem 7rem;
    padding: 2rem;
    overflow: hidden;
}

.newsletter::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%; 
}

.newsletter__info {
    z-index: 2;
    color: #ebebec;
    width: 30%;
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

.newsletter__header {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
}

.newsletter__text {
    font-size: 0.9rem;
}

.newsletter__subscribe {
    margin: 0 1rem;
    display: flex;
    z-index: 2;
    font-size: 1.2rem;
    width: 35%;
    justify-content: center;
}

.newsletter__subscribe input {
    padding: 1rem;
    background: #ffffff;
    border: none;
    text-transform: uppercase;
    flex-grow: 1;
}

.newsletter__submit {
    background: #141526;
    padding: 0.8rem 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    font-weight: 400;
}

/*btn container*/
.btn__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f1f1f1;
    padding: 3rem 7rem;
}

.btn__container button {
    background: none;
    border: 1.5px solid black;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    flex-grow: 1;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.btn__container button:hover {
    background: #cececa
}

.btn__container button:not(:last-child) {
    margin-right: 2rem; 
}

/*Footer styling*/
.footer {
    background: #000;
    padding: 7rem 7rem 0;
}

.footer,
.footer a {
    text-decoration: none;
    color: #ccc;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer__links-left {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.footer__links-shop li,
.footer__links-service li,
.contact-list li {
    margin: 1rem 0;
    list-style: none;
    font-size: 0.9rem;
}

.footer__links-right {
    width: 35%;
}

.link-group {
    margin: 0 0 2rem 0;
    min-width: 150px; }

.contact-list {
    display: flex;
    flex-flow: wrap;
}

.contact-list ul:first-child {
    margin-right: 15%;
}

.footer__links h2 {
    color: #fff;
    text-transform: uppercase; 
    font-size: 1.10rem;
}

.footer__text {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
}

.footer__text-description {
    width: 100%;
    margin: 0 auto; 
    padding: 4rem;
    font-size: 0.8rem;
}

.footer__text-description b {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8); 
}

.footer__text-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 2rem 0;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 0.7rem;
}
  
