* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.header__info-links {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #1d1d1b;
    color: #bbbbbb;
    font-size: 0.75rem;
    padding: 0.7rem 10rem 0.7rem 7rem;
}

.header__info-links a {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

.header__info-links a:hover {
    color: white;
    border-bottom: 1px solid #f1f1f1;
}

.header__information h3 {
    display: inline-block; 
}

.header__information h3,
.header__links a {
    margin: 0 0.5rem;
}
/* header styling end*/

/* navigation styling*/
.navigation a {
    text-decoration: none;
    color: black;
}

.navigation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    height: 15vh;
    font-size: 1rem;
}

.navigation__links li {
    text-transform: uppercase;
    margin: 0 1rem;
}

.navigation__links a:hover {
    border-bottom: 1px solid #1d1d1b;
}

.logo-item {
    text-align: center;
}

.logo-link {
    padding: 1.7rem 7rem;
    margin: 0 4rem;
    border: 1px solid black;
    background-color: #cececa;
}