* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.header__info-links {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #1d1d1b;
    color: #bbbbbb;
    font-size: 0.75rem;
    padding: 0.7rem 10rem 0.7rem 7rem;
}

.header__info-links a {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

.header__info-links a:hover {
    color: white;
    border-bottom: 1px solid #f1f1f1;
}

.header__information h3 {
    display: inline-block; 
}

.header__information h3,
.header__links a {
    margin: 0 0.5rem;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    height: 15vh;
    font-size: 1rem;
}

.navigation__links li {
    text-transform: uppercase;
    margin: 0 1rem;
}

.navigation__links a:hover {
    border-bottom: 1px solid #1d1d1b;
}

.logo-item {
    text-align: center;
}

.logo-link {
    padding: 1.7rem 7rem;
    margin: 0 4rem;
    border: 1px solid black;
    background-color: #cececa;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #1d1d1b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .sidenav li {
      margin: 2rem 2rem;
      border-bottom: 1px solid #cececa;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-width: 1001px) {
    .header {
        width: 100%;
    }
    .navigation, 
    .header__links {
        display: none;
    }
    .header__info-links {
        display: flex;
        justify-content: center;
        font-size: 0.7rem;
    }
    .logo-link {
        padding: 1.7rem 7rem;
        margin: 0 1rem;
        border: 1px solid black;
        background-color: #cececa;
    }
    .hamburger__mobile button {
        border: none;
        background: none;
        font-size: 1.2rem;
        margin: 1rem 1rem;
    }
  }

  @media screen and (min-width: 1001px) {
      .logo-link {
        padding: 1.7rem 7rem;
        margin: 0 1rem;
        border: 1px solid black;
        background-color: #cececa;
    }
  }

  @media only screen and (min-width: 1024px) {
    .logo-link {
        padding: 1.7rem 7rem;
        margin: 0 1rem;
        border: 1px solid black;
        background-color: #cececa;
    }
    .navigation__mobile {
        display: none;
    }
    
}

  @media only screen and (max-width: 768px) {
      .header {
          width: 100%;
      }
      .navigation, 
      .header__links {
          display: none;
      }
      .header__info-links {
          display: flex;
          justify-content: center;
          font-size: 0.7rem;
      }
      .hamburger__mobile button {
        border: none;
        background: none;
        font-size: 1.2rem;
        margin: 1rem 1rem;
    }
  }
